@{ 
    ViewBag.Title = "首页";
}

<div class="body-wrap">
                <div id="t_body">

                </div>


                <div style="text-align:center;">
                    <div style=" line-height: 50px;font-size: 16px;margin: 0px 15px;display:inline-block;">
                        当前共<span id="totalcount"></span>篇文章，第<span id="currindex"></span>页/共<span id="totalpage"></span>页
                    </div>
                    <div id="pages" style="display:inline-block;"></div>
                </div>
            </div>


<script>
    var pagesize = 10;
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage, layer = layui.layer, $ = layui.jquery;
        var url = "/Blog/GetTotalCount?t=" + new Date().valueOf();
        var postdata = getcond();
        $.post(url, postdata, function (count) {
            $('#totalcount').text(count);
            console.log("取到的总页数:" + count);
            laypage.render({
                elem: 'pages'
                , count: count
                , limit: pagesize
                , first: '首页'
                , last: '尾页'
                , theme: '#FF5722'
                , jump: function (obj) {
                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log(obj.limit); //得到每页显示的条数
                    load_blog_data(obj.curr);

                    $('#totalpage').text(Math.ceil(count / pagesize));
                    $('#currindex').text(obj.curr);

                }
            });
        })
    });



    function search() {
        var key = $('#search_key').val();
        var url = "/Home/Index?key=" + encodeURIComponent(key);
        location.href = url;
    }

    function getcond() {

        var key = $("#key").val();
        var CaBh = $("#CaBh").val();
        var Date = $("#Date").val();
        var postdata = { key: key, Date: Date, CaBh: CaBh };
        console.log(postdata);

        return postdata;
    }

    function load_blog_data(pageindex) {
        console.log("加载第" + pageindex + "页");
        layui.use('layer', function () {
            $ = layui.jquery, layer = layui.layer;
            var url = "/Blog/List?pageindex=" + pageindex + "&pagesize=" + pagesize;
            var postdata = getcond();
            $.post(url, postdata, function (json) {
                var html = '';
                $.each(json, function (i, blog) {
                    //console.log("第" + i + "个元素：");
                    // console.log(blog);
                    var class_color = "color" + (i % 5 + 1); //颜色样式color1-5
                    html += '<article class="article article-type-post" itemscope itemprop="blogPost">';
                    html += '    <div class="article-meta">';
                    html += '        <a href="/blog/show/' + blog.id + '" class="article-date">';
                    html += '            <time datetime="" itemprop="datePublished">' + blog.createTime + '</time>';
                    html += '        </a>';
                    html += '    </div>';
                    html += '    <div class="article-inner">';
                    html += '        <input type="hidden" class="isFancy" />';
                    html += '        <header class="article-header">';
                    html += '            <h1 itemprop="name">';
                    html += '                <a class="article-title" href="/blog/show/' + blog.id + '">' + blog.title + '</a>';
                    html += '            </h1>';
                    html += '        </header>';
                    html += '        <div class="article-entry" itemprop="articleBody">';
                    html += blog.desc;
                    html += '        </div>';
                    html += '        <div class="article-info article-info-index">';
                    html += '            <div class="article-tag tagcloud">';
                    html += '                <ul class="article-tag-list">';
                    html += '                    <li class="article-tag-list-item"><a class="' + class_color + '">' + blog.caName + '</a></li>';
                    html += '                </ul>';
                    html += '            </div>';
                    html += '            <div class="clearfix"></div>';
                    html += '        </div>';
                    html += '    </div>';
                    html += '</article>';
                })
                $('#t_body').html(html);
            }, "json")
        })
    }




</script>